*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    color:#31D2F2;
}
.default_text_area {
    height: 100vh;
    width: 100%;
    background-color: #31D2F2;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    font-weight: 500;
}

span.phn_name {
    color: red;
}