@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h4{
    font-size: 22px;
}

.todo_wrapper{
    max-width: 320px;
    margin: 0 auto;
    background-image: linear-gradient(#EFF54D,#00AC61);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:15px;
    color:#fff;
}
.todo_header{
    margin-bottom:20px;
}
.current_date,.current_month,.current_day{
    color:#00AC61;
}
.todo_title,.point_icon{
    color:#EFF54D;
    font-size: 20px;
    margin-right: 5px;
}

hr {
    width: 235px;
    background-color: #DEE1E6;
}

.add_button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #DEE1E6;
    font-size: 20px;
    color: #fff;
    background-color: #6EC72D;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.add_button:hover {
  background-color: #1FAA59;
}
.btn_box {
    margin-top: -41px;
}

.todo_item{
    border:1px solid #DEE1E6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
    position: relative;
}

.todo_text {
    margin-top: 15px;
}

.edit_update_icon_box {
    position: absolute;
    top: 5px;
    right: 5px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.fa-solid.fa-pen-to-square,.fa-solid.fa-trash-can{
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
}
.fa-solid.fa-pen-to-square:hover{
   color:#6EC72D;
}
.fa-solid.fa-trash-can:hover{
   color:#E21717;
}

#notice_msg{
    color:#E21717;
}